**
!requirements_client.txt
!requirements.txt
!qgis-archive-keyring.gpg
!src/
!src/**

**/.env*
**/.git
**/__pycache__
**/*.py[cod]
**/.cache
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/.uv-cache
**/.hypothesis
**/.tox
**/.nox
**/.venv
**/.direnv
**/venv
**/env
**/*.egg-info
**/outputs
**/user_data
**/live_data
**/tests
**/.coverage*
**/coverage.xml
**/htmlcov
**/test-results
**/junit.xml
